body{
    background: #f8f8f8;
}
a:link,a:visited,a:hover{
    text-decoration: none;
}
.fy nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.fy nav ul li{
    display: inline-block;

}
.fy nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fybgc{
    background-color: #fff;
}
.fyhc{
    color: #b8b8b8;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 0;
}
.fybgc p:nth-child(2){
    padding: 15px;
    margin: 0;
    background-color: #46959d;
}
.fybgc p:nth-child(3){
    padding: 15px;
    margin: 0;
}
.fylx{
    background-color: #fff;
}
.fybtb{
    border-top: 0.1em solid #efefef;
    border-bottom: 0.1em solid #efefef;
}
.fylx .fyfl{
    margin: 0;
}
.fylx h3{
    color: #6a6a6a;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 0;
}
.fylx p{
    margin: 0;
}
.fylx h3 span {
    color: #bcbcbc;
}
.fylx div{
    padding: 20px;
    vertical-align: center;
    
}
.fylx .fle{
    display: flex;
    padding: 0;
    align-items: center;
}
.fylx .ql{
    color: #46959d;
    font-size: 18px;
    font-weight: bolder;
}
.fylx div span{
    color: #999;
    display: inline-block;
    font-size: 1.5em;
    /* width: 40px; */
    margin-right: 20px;
    align-items: center;
    /* margin-bottom: 20px; */
    position: relative;
    top: 0.1em;
}
.fle .flsp{
    display: inline-block;
    width: 40px;
}
.fylx .flmg{
    text-align: center;
    margin-bottom: 1em;
}
.fylx img{
    border: 0.2em solid #efefef;
    padding: 30px;
    display: inline-block;
}
.hzhb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    align-items: center;
    margin-top: 20px;
}
.hzhb h2{
    color: #4c4c4c;
    margin: 0;
}
.hzhb ol {
    margin: 0;
    background: #fff;
}
.hzhb ol li{
    color: #afafaf;
}
.fyhg{
    padding: 30px;
    background-color: #fff;
    text-align: center;
}
.fyhg div img{
    border: 1px solid #dfdfdf ;
    width: 100%;
    max-width: 157px;
    height: 80px;
    /* display: inline-block; */
    float: left;   
}
.fy{
    clear: both;
    margin: 0 auto;
}
.fy nav{
    height: 10em;  
}
.fy nav ul{
   position: relative;
   top:1em;
}
.fy nav li:nth-child(1),.fy nav li:nth-child(4){
    font-size: 3em;  
}
.fy nav li:nth-child(2),.fy nav li:nth-child(3){
    font-size: 1.8em;
    position: relative;
    top: -0.2em;
}
.fy nav li a:link,.fy nav li a:visited{
    color:#afafaf;
}
.fy .avt{
   position: relative;
   top:-0.35em;
}
.fy nav li:nth-child(3) span,.fy nav li:nth-child(4) span{
    color: #3a978a;
}